h1, h2{
    text-align: center;
}
.central{
    display: table;
    margin: auto;
    border: 2px solid green;
}
.imagem1{
    display: table;
    margin: auto;
    border: 2px solid green;
    max-width: 100%;
}
.imagem2{
    display: table;
    margin: auto;
    border: 2px solid green;
    max-width: 100%;
}
@media (max-width:600px) {
    .central{
        display: table;
        margin: auto;
        border: 2px solid green;
    }
}
